.query {
  background-color: white;
  color: black;
}

.query:focus {
  outline: none;
}

.controllers {
  display: flex;
  gap: 1em;
  justify-content: center;
  padding: 8px;
  border: 2px solid rgba(0, 0, 128, 0.5);
  border-radius: 6px;
}
